<div class="formWrapper">
    <form [formGroup]="userRegistrationForm" (ngSubmit)="userRegisterEvent()">
        <h5 class="bold-text">User Registration</h5>

        <div>
            <mat-form-field class="form-input">
                <mat-label>First Name <span>*</span> </mat-label>
                <input matInput formControlName="firstName" type="text" name="fName" id="fName"
                    placeholder="Enter your First Name">
                <mat-error *ngIf="f?.firstName?.touched && f?.firstName?.errors?.required">
                    First Name is required
                </mat-error>
            </mat-form-field>
            <!-- </div>

        <div> -->
            <mat-form-field class="form-input">
                <mat-label>Last Name <span>*</span> </mat-label>
                <input matInput formControlName="lastName" type="text" name="lName" id="lName"
                    placeholder="Enter your Last Name">
                <mat-error style="color: red" *ngIf="f?.lastName?.touched && f?.lastName?.errors?.required">
                    Last Name is required
                </mat-error>
            </mat-form-field>
        </div>


        <!-- Nested Reactive Form Ex. -->
        <div formGroupName="address">
            <div>Address</div>

            <mat-form-field class="form-input">
                <mat-label>State <span>*</span> </mat-label>
                <input matInput formControlName="state" type="text" name="state" id="state">
            </mat-form-field>

            <mat-form-field class="form-input">
                <mat-label>City <span>*</span> </mat-label>
                <input matInput formControlName="city" type="text" name="city" id="city">
            </mat-form-field>

            <mat-form-field class="form-input">
                <mat-label>Postal Code <span>*</span> </mat-label>
                <input matInput formControlName="postal" type="text" name="postal" id="postal">
            </mat-form-field>

        </div>

        <div>
            <mat-form-field class="form-input">
                <mat-label>Email <span>*</span> </mat-label>
                <input matInput formControlName="email" type="email" name="email" id="email"
                    placeholder="Enter your Email">
                <mat-error *ngIf="f?.email?.touched && f?.email?.errors?.required">
                    Email is required
                </mat-error>
            </mat-form-field>
        </div>

        <div>

            <div formArrayName="mobileNumbers" *ngFor="let mobile of alternateMobileNo.controls; let i = index">

                <mat-form-field>
                    <mat-label>
                        <ng-container *ngIf="i == 0;else altNumber">
                            Mobile No.
                        </ng-container>
                        <ng-template #altNumber>
                            Alt Mobile No. ({{i}})
                        </ng-template>
                        <span>*</span>
                    </mat-label>
                    <span matPrefix>+91</span>
                    <input matInput [formControlName]="i" type="tel" name="mobileNo" id="mobileNo">
                </mat-form-field>

                <!-- Default button with add icon -->
                <ng-container *ngIf="i == 0;else deleteBtn">
                    <button mat-mini-fab type="button" color="primary" (click)="addAlternateMobileNo()"
                        title="Add Alternate Mobile No.">
                        <mat-icon>add_call</mat-icon>
                    </button>
                </ng-container>

                <!-- Delete Button -->
                <ng-template #deleteBtn>
                    <button mat-icon-button type="button" [disabled]="i == 0" (click)="removeAlternateMobileNo(i)"
                        title="Delete No.">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-template>

            </div>
        </div>

        <div>
            <button mat-flat-button color="primary" type="submit"
                title="Click here to complete registration">Register</button>
        </div>

        <div>
            <button mat-button type="button" title="Click here if you have account."> Already having account? </button>
        </div>
    </form>
</div>