<div class="container-fluid todo-wrapper">

    <div class="todo-container container">

        <div class="row">
            <div class="title col-12">Todo List</div>
        </div>

        <div class="row mt-2 p-2">
            <input type="text" class="form-control add-todo-textfield col-lg-1" 
                [value]="todoInput"
                (keyup)="todoChange($event)" 
                placeholder="Add your new todo">
            <button class="btn btn-primary col-lg-1 mx-1" (click)="addNewTodoTask()">+</button>
        </div>
        
        <div class="row">
        </div>

        <div class="todo-task">

            <div *ngFor="let todo of todoList;let i = index;">
                {{ i }} {{ todo }}
            </div>

        </div>


    </div>


</div>