<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container *ngFor="let column of displayedColumnObj" [matColumnDef]="column?.key">
    <th style="width: 100px;" mat-header-cell *matHeaderCellDef> {{ column?.name }} </th>
    <td style="width: 100px;" mat-cell *matCellDef="let element"> {{ element[column?.key] }} </td>
  </ng-container>


  <tr style="width: 100px;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr style="width: 100px;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td style="width: 100px;" class="mat-cell">No Task Available</td>
  </tr>

</table>